.feature{
    width: 90%;
    margin-top: 50px;
     .feature_header{
         h3{
             font-size: $fs-3;
             line-height: 1.5;
             color: $color-black-0;
         }
         p{
             color: $color-gray-0;
             font-size: $fs-0;
             font-weight: $fw-1;
         }
         padding: 30px 0;
     }
     button{
         margin: 10px 20px;
     }
     .row{
         .feature_text{
             h2{
                 font-size: $fs-4;
                 color: $color-gray-2;
                 margin-bottom: 10px;
             }
             h3{
                 font-size: $fs-3;
                 color: $color-black-0;
                 margin-bottom: 20px;
             }
             p{
                 font-size: $fs-0;
                 color: $color-gray-0;
                 font-weight: $fw-1;
             }
                
         }
     }
 }
 